.steps_card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
  padding: 30px;
  position: relative;

  .calification {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .title {
    font-size: 26px;
    font-weight: bold;
    margin-right: 70px;
    button {
      color: #1677ff;
      background: transparent;
      border: 0;
      text-align: start;
      outline: 0;
    }
    button:hover {
      text-decoration: underline;
      outline: 0;
      border: 0;
    }
    button:active {
      color: blue;
      outline: 0;
      border: 0;
    }
  }

  .d-flex {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .criterias {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .space_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
